.aside-image-wrapper {
    width: 100%;
    margin-top: 15px;
}

.aside-image-section-text {
    width: 40%;
    padding-left: 50px;
}

.aside-image-section-image {
    width: 60%;
}

.aside-image-section {
    display: inline-flex;
    width: 100%;
}