.heading {
  margin: auto;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-right: 25px;
}

.menuItem {
  margin: 25px 15px 0px 15px;
  font-family: omnes-pro, serif;
  font-weight: 75px;
  font-style: light;
  font-size: 22px;
  background-color: transparent;
}

.menuItemText {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

.menuItemText:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.75px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.menuItemText:hover:after {
  transform: scaleX(0.75);
  transform-origin: bottom left;
}
